checkbutton,
radiobutton {
    padding: 0.25em;
}

radio,
check {
    min-height: 1.2em;
    min-width: 1.2em;
    border-width: 1px;
    background-color: @input_bg_color;
    color: @input_fg_color;
    -gtk-icon-source: none;
}

radio:not(:last-child),
check:not(:last-child) {
    margin-right: 0.4em;
}

radio:not(:first-child),
check:not(:first-child) {
    margin-left: 0.4em;
}

radio {
    border-radius: 50%;
}

check:checked {
    background-color: @active;
}

check:indeterminate {
    background-color: mix(@active, @bg_color, 0.5);
}

radio:checked {
    background-color: @active;
}
