notebook.frame,
notebook tab:checked {
    background: @input_bg_color;
}

notebook tab,
notebook header {
    background: @bg_color;
}

notebook stack {
    border: 1px solid @border_color;
}

notebook tab {
    padding: 3px 5px;
    border: 1px solid @border_color;
}

notebook .top tab { margin: 0px 1px -1px 1px; }
notebook .top tab:checked { border-bottom-style: none; }
notebook .top tab:first-child { margin-left: 0; }
notebook .top tab:last-child { margin-right: 0; }

notebook .bottom tab { margin: -1px 1px 0px 1px; }
notebook .bottom tab:checked { border-top-style: none; }
notebook .bottom tab:first-child { margin-left: 0; }
notebook .bottom tab:last-child { margin-right: 0; }

notebook .left tab { margin: 1px -1px 1px 0px; }
notebook .left tab:checked { border-right-style: none; }
notebook .left tab:first-child { margin-top: 0; }
notebook .left tab:last-child { margin-bottom: 0; }

notebook .right tab { margin: 1px 0px 1px -1px; }
notebook .right tab:checked { border-left-style: none; }
notebook .right tab:first-child { margin-top: 0; }
notebook .right tab:last-child { margin-bottom: 0; }

