switch {
    border-width: 1px;
    font-weight: bold;
    border-radius: 0px;
    margin: 1px;
}

switch:checked {
    background: @selected_bg_color;
    color: @selected_fg_color;
}

switch slider {
    background: @bg_color;
    border-width: 1px;
    border-radius: 0px;
    margin: -1px;
}

switch:disabled slider {
    background: @secondary_fg_color;
    border-style: dashed;
}
